# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
*.pyc
mydatabase
.vscode
/.env
/.env/.Python
/.env/[Bb]in
/.env/[Ii]nclude
/.env/[Ll]ib
/.env/[Ll]ib64
/.env/[Ll]ocal
/.env/[Ss]cripts
/.env/pyvenv.cfg
/.env/.venv
/.env/pip-selfcheck.json
