Django==2.2.2
django-cors-headers==2.4.0
django-templated-mail==1.1.1
djangorestframework==3.9.1
djangorestframework_simplejwt==4.3.0
django-username-email==2.2.4
djoser==1.7.0
Pygments==2.2.0
PyJWT==1.6.4
pytz==2018.5
gunicorn==19.6.0
mysqlclient==1.4.2
